.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap:10px;
  background-color: white;
}

.level-text {
  font-size: 38px;
  color: black;
  margin:16px;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clickable-svg {
  width: 280px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-svg.grow {
  transform: scale(1.1); 
}

.increment-display {
  position: absolute;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 32px;
  font-weight: 1000;
  color: black;
  pointer-events: none;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.score-text {
  font-size: 38px;
  font-weight: bold;
  font-style: italic;
  color: black;
  margin: 20px;
}

.svg-button-container{
  display: flex;
    justify-content: center;
    bottom: 20px;
    gap: 20%;
    width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
